<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Smart City Varanasi</title>
    
</head>
<body>
    <div class="big-container">
        <div class="container" style="height: 100%;">
            {{{ body }}}
        </div>
    </div>
    
</body>
</html>