<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Smart City Varanasi</title>
    
</head>
<body>
    <div class="big-container">
        <div class="container">
            {{{ body }}}
        </div>
        <div class="control1">
            <div class="control-element"> <a href="/waste"> waste </a> </div>
            <div class="control-element"> <a href="/pollution"> pollution </a> </div>
            <div class="control-element"> <a href="/traffic"> traffic </a> </div>
            <div class="control-element"> <a href="/admin"> other </a> </div>
        </div>
    </div>
    
</body>
</html>