<style>
    .assign_task_form{
    max-width: 350px;
    margin: auto;
    padding: 20px;
}
input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover{
    background: #000;
}
</style>
<h3>admin assign</h3>
<div class="assign_task_form">
    <form>
        <select id="enployee_name">
            <option value="employee_name">Select Employee</option>
            <option value="ram">Ram</option>
            <option value="shyam">Shyam</option>
            <option value="karan">Karan</option>
        </select>
        <br>
        <select id="ward">
            <option value="ward">Select Ward</option>
            <option value="ward2">ward2</option>
            <option value="ward3">ward3</option>
            <option value="ward4">ward4</option>

        </select>
        <br>
        <select id="locality">
            <option value="locality">Select Locality</option>
            <option value="locality1">Locality1</option>
            <option value="locality2">Locality2</option>
            <option value="locality3">locality3</option>
        </select>
        <br>
        <div class="top-container" id="top-container">
            <h3>Assign bins to the employee✌</h3>
            {{#each data}}
            <h5> {{this._id}} : {{ this.LOCALITY }} </h5>
            <input class="checkbox" type="checkbox" id="{{this._id}}" name="routeData" value="{{this._id}}" checked />
            {{/each}}
        </div>
        <hr>
        <button>Assign Task</button>


    </form>

</div>