{{!-- <p>Code to view all the reports here...</p> --}}
<h1>Admin</h1>
<form id="form" method="GET" action="#">
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Search by ward</button>
        <div id="myDropdown" class="dropdown-content">
            <input type="text" placeholder="Search by ward" id="myInput" onkeyup="filterFunction()">
            <a href="#about">About</a>
            <a href="#base">Base</a>
            <a href="#blog">Blog</a>
            <a href="#contact">Contact</a>
            <a href="#custom">Custom</a>
            <a href="#support">Support</a>
            <a href="#tools">Tools</a>
        </div>
    </div>

</form>
<h3>Report lists</h3>



{{#each data}}
<div class="card">


    <div class="container1">
        <h4><span style="float: left;">ward ---- user</span>
            <span style="float: right;" onclick="bringForm({{@key}})">
                <span>
                    ✔
                </span>
                <span>
                    ❌
                </span>
             </span>
        </h4>
        <br>
        <p>-- {{ this.report.description }} </p>
    </div>
    <div id={{@key}} style="display: none;">
        <form id="form" method="POST" action="#">
            <label for="report">Report Response:</label>
            <br>

            <textarea name="report" id="report" placeholder="write your report response here..."></textarea>
            <br>
            <button id="submit" type="submit">Submit</button>
        </form>
    </div>



</div>

{{/each}}



<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    function bringForm(id) {
        p = document.getElementById(id).style.display;
        document.getElementById(id).style.display = (p == "none") ? "block" : "none";


    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
</script>