

<a href="/admin/tasks">Admin Task View</a>
<br>
<a href="/employee/tasks">Employeee Assigns Task</a>


<script>
    setTimeout(() => {
        var profileBtn = document.getElementById('profileBtn');
        profileBtn.href = '/profile/' + localStorage.getItem('userId'); 
        console.log(localStorage.getItem('userId'));  
    }, 2000);
        

</script>


