

<span style="float: left; margin: 10px; padding: 5px; border: black 1px solid;"><a style="color: black; text-decoration: none" href="/admin/tasks">Admin Panel</a></span>
<span style="float: right; margin: 10px; padding: 5px; border: black 1px solid;"><a style="color: black; text-decoration: none" href="#" id="taskBtn">Employeee Panel</a></span>


<script>


    setTimeout(() => {
        var taskBtn = document.getElementById('taskBtn');
        var profileBtn = document.getElementById('profileBtn');
        profileBtn.href = '/profile/' + localStorage.getItem('userId'); 
        taskBtn.href = '/employee/tasks/' + localStorage.getItem('userId');
        console.log(localStorage.getItem('userId'));  
    }, 100);


</script>


