<a href="/auth/google" class="logInBtn"> 
    <b style="display: flex; flex-direction:row; justify-content: center; padding-top: 370px;"> <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" style="height: 25px; width:25px; margin-right: 6px;"/>  LOGIN WITH GOOGLE</b>
</a>
