<div id="bin-info">Locality - {{ LOCALITY }}
    <br>
    <div class="imgs">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
    </div>
    <div style="text-align: left;">
        <ul>
            <li>
                Status - {{ Status }}
                {{!-- Status - Empty --}}
            </li>
        </ul>
    </div>
</div>
<hr>
<div class="center">
    User Activity
    <br><br>
    <div class="buttons">
        <form action = "/waste/{{_id}}" method = "POST">
            <input type='hidden' name='_method' value='PUT'>
            <input type="radio" name="choice" id="choice1" value="filled">
            <label for="choice1">Filled</label>
            <input type="radio" name="choice" id="choice2" value="empty">
            <label for="choice2">Empty</label>
            <br>
            <button type="submit">Update Status</button>
        </form>

    </div>
    <br>
    <form id="form" method="POST" action="/waste/{{_id}}">
        <label for="report">Report Incident:</label><br><br>
        <textarea name="report" id="report" placeholder="write your report here..."></textarea>
        <br>
        <button id="submit" type="submit">Submit</button>
    </form>
</div>
<hr>