<div id="bin-info">Bin Id is - {{_id}}
    <div class="imgs">
        <img src="../public/images/homeBg.png">
        <img src="../public/images/homeBg.png">
        <img src="../public/images/homeBg.png">
        <img src="../public/images/homeBg.png">
    </div>
    <div style="text-align: left;">
        <ul>
            <li>
                status: filled full
            </li>
        </ul>
    </div>
</div>
<hr>
<div class="center">
    User Activity
    <br>
    <form id="form">
        <input type="radio" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1">Mark full</label><br>
        <input type="radio" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1">Mark empty</label><br><br><br>
        <label for="report">Report Incident:</label><br><br>
        <textarea name="report" form="usrform">write your report here...</textarea>
        <br><br>
        <button id="submit" type="submit">Submit</button>
    </form>
</div>
<hr>