<h4>Map Appears here...</h4>
<div id="map">
    
</div>

<script src="/javascript/googleMap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9llFUNyu1dGpH4MQ84lHSk0OXZyWrxHg&map_ids=4719b11c4529a336&callback=initMap"> async </script>

<div class="user-control">
    
</div>


