<h4>Map Appears here...</h4>
<div id="map">
    
</div>

<div class="user-control">
    <button class="btn" onclick="locate()">Locate</button>
    <button class="btn" onclick="scan()">Scan</button>
    
</div>


<script>
    setTimeout(() => {
        var profileBtn = document.getElementById('profileBtn');
        console.log(profileBtn);
        profileBtn.href = '/profile/' + localStorage.getItem('userId');   
    }, 2000);
</script>
<script src="/javascript/googleMap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLXxFA0RCDogfD24J3GmKE8wlJuGOizrA&map_ids=4719b11c4529a336&callback=initMap"> async </script>


